:javascript
  var station_table_bool_#{@station.id} = true;
  $(document).ready(function() {
  $('#station_table_#{@station.id}').toggle(1);
    $('#station_#{@station.id}').click(function(){
      $('#station_content_#{@station.id}').toggle(600);
    });
    $('#station_content_#{@station.id}').click(function(){
      $('#station_table_#{@station.id}').toggle(600, function() {
        $('#station_table_label_#{@station.id}').text(function () {
          station_table_bool_#{@station.id} = !station_table_bool_#{@station.id}
          return station_table_bool_#{@station.id} == true ? 'Hide table' : 'Show table'
        })
      });
    });
  });