%div{id: "container_graph#{@station.id}"}
:javascript
  $(function () {
    $('#container_graph#{@station.id}').highcharts({
      chart: {
        zoomType: 'xy'
      },
      title: {
        text: '#{@station.label}'
      },
      plotOptions: {
            spline: {
                lineWidth: 3,
                states: {
                    hover: {
                        lineWidth: 4
                    }
                },
                marker: {
                    enabled: false
                }
            }
        },
      xAxis: [{
        crosshair: true,
        type: 'datetime',
        dateTimeLabelFormats: {
                millisecond: '%H:%M'
            }
      }],
      yAxis: #{generate_yaxis_by_station @station},
      tooltip: {
        shared: true
      },
      legend: {
        layout: 'vertical',
        align: 'left',
        x: 80,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
      },
      series: #{generate_series_by_station @station, @time_stamp_hash, @unit_sensor_hash}
    });
  });

