%h1 Dashboard
-station_hash = ordered_timestamps_for_stations
-station_hash.each_pair do |station, time_stamp_hash|
  %h2= station.label
  %table.table.table-striped
    %tr
      %th= "Time stamp"
      -station.sensors.each do |sensor|
        %th
          = sensor.label
          = "["
          = sensor.unit
          = "] - id: "
          = sensor.id
    -time_stamp_hash.each_pair do |time_stamp, value_hash|
      %tr
        %td= DateTime.strptime(time_stamp.to_s,'%s')
        -station.sensors.each do |sensor|
          %td
            -if value_hash[sensor.id] == nil
              = "N/A"
            -else
              = value_hash[sensor.id]