%h1 Sensor Configuration
%table.table.table-striped
  %tr
    %th= "Label"
    %th= "Unit"
    %th= "Sensor version"
    %th= "Abbrevation in JSON"
    %th= "Station number"
    %th= "Visualization"
    %th= "Active?"
    %th= ""
  -i = 1
  -@sensors.each do |sensor|
    %tr
      %td= sensor.label
      %td= sensor.unit
      %td= sensor.sensor
      %td= sensor.abbrevation
      %td= sensor.station
      %td= sensor.visualization_type.name
      %td
        %input{ type: "checkbox", name: "active", value: i, checked: sensor.active, disabled: true}
      %td= link_to 'Edit', sensor
    -i = i + 1