%h1 Sensor Configuration
%table.table.table-striped
  %tr
    %th= "Label"
    %th= "Unit"
    %th= "Sensor version"
    %th= "Abbrevation in JSON"
    %th= "Station"
    %th= "Visualization"
    %th= "Active?"
    %th= ""
  -@sensors.each do |sensor|
    %tr
      %td= sensor.label
      %td= sensor.unit
      %td= sensor.sensor
      %td= sensor.abbrevation
      %td= link_to sensor.station.label, sensor.station
      %td= sensor.visualization_type.name
      %td
        %input{ type: "checkbox", name: "active", checked: sensor.active, disabled: true}
      %td
        = link_to "Edit", sensor
        = link_to "Delete", sensor, method: :delete, data: { confirm: 'Are you sure?' }
%button.btn= link_to "Create new sensor", new_sensor_path
%button.btn= link_to "Create new station", new_station_path 