%div.dashboard-container  
  %h1.centered-title Configuration
  %div.dashboard-table
    %h2 Station configuration
    %table.table.table-striped.table-bordered
      %tr
        %th= "Node number"
        %th= "Label"
        %th= "Description"
        %th= "Options"
      -@stations.each do |station|
        %tr
          %td= station.node_number
          %td= station.label
          %td= station.description
          %td
            = link_to '<i class="fa fa-edit"></i>'.html_safe, station, id: "station_#{station.id}", class: "btn btn-primary btn-edit"
            = link_to '<i class="fa fa-trash"></i>'.html_safe, station, method: :delete, data: { confirm: 'Are you sure? Deleting the station results in the destruction of all related sensors and all data that was gathered by them.' }, class: "btn btn-danger btn-delete", id: "station_delete#{station.id}"
    %a.btn.btn-primary{href: new_station_url} Create new station
  %br
  %div.dashboard-table
    %h2 Sensor configuration
    %table.table.table-striped.table-bordered
      %tr
        %th= "Label"
        %th= "Unit"
        %th= "Sensor version"
        %th= "Abbreviation in JSON"
        %th= "Station"
        %th= "Visualization"
        %th= "Shown on dashboard?"
        %th= "Options"
      -@sensors.each do |sensor|
        %tr
          %td= sensor.label
          %td= sensor.unit
          %td= sensor.sensor
          %td= sensor.abbreviation
          %td= link_to sensor.station.label, sensor.station
          %td= sensor.visualization_type.name
          %td{style: (sensor.active? ? "color: #00C000;" : "color: #C00000")}= sensor.active? ? "Yes" : "No"
          %td
            %div{style: "width: 5.5em;"}
              = link_to '<i class="fa fa-edit"></i>'.html_safe, sensor, id: "sensor_#{sensor.id}", class: "btn btn-primary btn-edit"
              = link_to '<i class="fa fa-trash"></i>'.html_safe, sensor, method: :delete, data: { confirm: 'Are you sure? Deleting the sensor results in the destruction of all data gathered by it.' }, class: "btn btn-danger btn-delete", id: "sensor_delete#{sensor.id}"
    %a.btn.btn-primary{href: new_sensor_url} Create new sensor
  %br
  = render 'misc_config'