= form_for(@station) do |f|
  %table.table.table-striped.table-bordered
    %tr
      .field
        %td= f.label :node_number
        %td= f.text_field :node_number, class: "form-control"
    %tr
      .field 
        %td= f.label :label
        %td= f.text_field :label, class: "form-control"
    %tr
      .field
        %td= f.label :description
        %td= f.text_area :description, :rows => 5, class: "form-control"
  .actions
    = f.submit  class: "btn btn-primary btn-margin-right"
    %a.btn.btn-danger{href: static_pages_wetter_config_url} Cancel