= form_for(@station) do |f|
  %table.table.table-striped.table-bordered
    %tr
      .field
        %td= f.label :id
        %td= f.text_field :id, class: "form-control"
    %tr
      .field 
        %td= f.label :label
        %td= f.text_field :label, class: "form-control"
    %tr
      .field
        %td= f.label :description
        %td= f.text_area :description, :rows => 5, class: "form-control"
    %tr
      .actions
      %td= f.submit class: "btn btn-default"
      %td
%a.btn.btn-primary{href: static_pages_wetter_config_url} Back to sensor configuration