%p#notice= notice
%p
  %strong Vorname:
  = @user.first_name
%p
  %strong Nachname:
  = @user.last_name
%p
  %strong Administrator:
  = @user.admin
%p
  %strong Gruppe:
  = @user.group_id
= link_to 'Bearbeiten', edit_user_path(@user)
|
\#{link_to 'Zurück', users_path}