%p#notice= notice
%h1 Projekt Liste
%table
  %thead
    %tr
      %th Name
      %th Repository
      %th Gruppe
      %th{:colspan => "3"}
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.repo
        %td
          - begin
            = Group.find(project.group_id).name
          - rescue
            N/A
        %td= link_to 'Anzeigen', project
        %td= link_to 'Bearbeiten', edit_project_path(project)
        %td= link_to 'Entfernen', project, method: :delete, data: { confirm: 'Sind Sie sich sicher?' }
%br/
= link_to 'Neues Projekt', new_project_path
