!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wetterüberwachung
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %notice= notice
    %alert= alert
    - if user_signed_in?
      %ul.nav.nav-pills.navbar-inverse
        %li= link_to "Dashboard", root_path
        %li= link_to "Configuration", static_pages_wetter_config_path
        %li= link_to "Sign Out", destroy_user_session_path, :method => :delete

    = yield
